WORKSPACE_HOST="my-org-workspace.cloud.databricks.com" # same host as your Databricks dashboard UI
OIDC_URL="https://${WORKSPACE_HOST}/oidc/v1/token"
PG_TOKEN_URL="https://${WORKSPACE_HOST}/api/2.0/postgres/credentials"

# for use with OIDC_URL (CLIENT_ID also for use as Postgres username when using CLIENT_ID to get auth token)
CLIENT_ID="e86d787a-464c-47d3-a8d0-3e2485d78e44"  # e.g. Service Principal ID
CLIENT_SECRET="ef96cd1579111ef54bbc5e0174f9d329392b"

# for use with PG_TOKEN_URL
PG_ENDPOINT="projects/066b7b98-4dcd-4f88-aa7d-ce732893f97f/branches/br-abc-def-123456/endpoints/ep-abc-def-123456"
PERSONAL_ACCESS_TOKEN="87b6fd091dc5fbf44d2e4b328ace11ac09c7"

# for use directly with Postgres
DATABRICKS_USER="my.name@example.org"
PGDATABASE="databricks_postgres"
PGHOST="ep-abc-def-123456.database.us-east-1.cloud.databricks.com"
PGSSLMODE="verify-full"
