PGDATABASE="databricks_postgres"
PGHOST="ep-abc-def-123456.database.us-east-1.cloud.databricks.com"
PGUSER="e86d787a-464c-47d3-a8d0-3e2485d78e44"  # Service Principal ID
PGSSLMODE="verify-full" # node-postgres treats any SSL mode as verify-full

TOKEN_URL="https://my-org-east-1.cloud.databricks.com/oidc/v1/token" # host is the same as your Databricks dashboard UI
CLIENT_SECRET="ef96cd1579111ef54bbc5e0174f9d329392b"
